fastapi==0.111.0
uvicorn==0.30.1
langchain==0.2.7
langchain-google-genai==1.0.6
langchain-openai==0.1.15
langgraph==0.1.8
networkx==3.3
pymongo==4.8.0
requests==2.32.3
httpx==0.27.0
tiktoken==0.7.0
posthog==3.5.0
langfuse==2.38.0
ragas==0.1.10
websockets==12.0
python-dotenv==1.0.1
pandas==2.2.2
pydantic==2.8.0
chromadb==0.5.3
pypdf==4.2.0
python-multipart==0.0.9
langchain-experimental==0.0.62
kuzu==0.11.3
